<!DOCTYPE html>
<html lang="en">
<head >
<title>GAN Deployment </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:lightblue;">

<h1 style="font-family:courier;background-color:black;color:white;text-align:center;font-style:italic;"> NOISE IMAGE TO GAN MODEL IMAGE</h1><br>
<section style="align=left">
<div style="background-color:tomato;">

<form action="/submit" method="post" autocomplete="on">



<label for="noise_size" style="font-size:30px;text-decoration:underline;border:2px solid #F0FFF0;background-color:#F0FFF0;">No. of Noise Images<span style="color:red;">*</span>:</label><br><br>
<input type="number" id="noise_size" name="noise_size" min=1 max="16" placeholder="1-16" required="required" /><br><br><br>


<input type="submit" value="Submit">
<input type="reset" value="Reset">

<img src= "{{image}}" width="350" height="350" align="middle"  >

<br><br>

</form>
</section>

<form method="post" action="/predict" enctype="multipart/form-data">
    <body>
        <input type="submit" value="Predict" class="button2">
        <h1 style="font-family:courier;background-color:black;color:white;text-align:center;font-style:italic;">GAN PREDICTED RESULTS</h1> 
            <hr><hr><BR>
        <h2> RESULTS</h2>
        <div><img src= "{{image}}" width="500" height="500" align="right"></div>
      
        <div><img src= "{{predicted}}" width="500" height="500 " align = "right" ></div>
        

       

</div>


<h2> Please Monitor Result:<span style="background-color:silver;color:green;border=3px solid black;padding:3px;"> {{Negative}}</span> <span style="background-color:silver;color:red;border=3px solid black;padding:3px;"> {{Positive}}</span></h2><br><br><br><br>

<p style="text-align:center;font-size:25px;">©MOTURU PRAVEEN BHARGAV 2023</p><br><br>
</div>
</body>
</html>